if (page.type == 'example')
  hr
  !=template('related-example')

if (page.related)
  h4 Related pages:
  ul.sidelist
    for relatedPage in page.related
      li: a(href=relatedPage.url): !=relatedPage.title


