@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700);
@font-face {
    font-family: 'mercedes';
    src: url("../fonts/2D9964_0_0.ttf");
    /* IE9 Compat Modes */
    
    src: url('../fonts/2D9964_0_0.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('../fonts/2D9964_0_0.woff') format('woff'),
    /* Pretty Modern Browsers */
    
    url('../fonts/2D9964_0_0.ttf') format('truetype')
    /* Safari, Android, iOS */
}


.menubar img {
    position: absolute;
    max-width: 70%;
    /*left:0;*/
    
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.hover_img img.top {
    z-index: 100;
}

.hover_img img.top:hover {
    opacity: 0;
}

.hover_img img {
    position: absolute;
    max-width: 100%;
    /*left:0;*/
    
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.menubar img.top {
    z-index: 100;
}

.menubar img.top:hover {
    opacity: 0;
}

.menubar ul.menu {
    margin-top: 155px;
}

p {
    font-size: 1.5em;
    line-height: 1.3em;
    /*font-weight: 300;*/
    
    font-family: 'mercedes';
}

.col {
    margin-top: 0%;
}

.maincontent {
    width: 100%;
    max-width: inherit;
    padding: inherit;
}

.menubar {
    border-right: solid 1px #EAEAEA;
    box-sizing: border-box;
    margin-top: 20px;
    /* padding-left: 20px; */
    
    padding: 0px 20px;
    position: fixed;
    width: 190px;
    /*height: 100%;*/
    
    overflow-y: scroll;
    top: 0;
    bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    line-height: .9;
    margin-bottom: 25px;
}

.menu a,
a:visited {
    /*color: #000;*/
    
    text-decoration: none;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2em;
    /*font-style: italic;*/
}

.menu .misc_link {
    font-size: 1.6em !important;
}

.menu .current {
    font-weight: 300;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    margin-top: 10px;
}

li {
    padding: 7px 5px;
}

h3 {
    /*padding: 0 20px;*/
    
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    margin-left: -3px;
    font-size: 3em;
    font-weight: 400;
}

.menubar p {
    margin-bottom: 8px;
}

.reference {
    margin-top: 45px;
    /*margin-left: 260px;*/
    
    margin-left: 215px;
    /*margin-left: 16.93%;*/
    /*padding-top: 20px;*/
    
    padding-bottom: 20px;
}

.reference code {
    /*font-family: 'code';*/
    
    font-family: 'Source Code Pro';
    font-size: 1.2em;
    line-height: 1.6em;
    font-weight: normal;
    /*letter-spacing: -0.3px;*/
    /*background: rgb(208, 255, 209);*/
    /*color: #0F0F0F;*/
    /*padding: 10px;*/
    
    word-wrap: break-word;
    /*margin-bottom: 20px;*/
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 2px solid #ededed;
}

.reference img {
    margin: 15px 0px;
}

.reference a,
a:visited {
    /*font-weight: bold;*/
    
    border-bottom: 1px solid #aaa;
}

.reference a:hover {
    /*color: #fff;*/
    /*background : #008bbb;*/
    
    border-bottom: 3px solid #008bbb;
    /*padding: 3px;*/
    /*font-weight: bold;*/
}

.codeblock {
    /*float:right;*/
    /*padding: 0px;*/
    /*margin: 0px;*/
    
    height: 100%;
    border: none;
    /*margin-right: -25px;*/
    /*position: fixed;*/
    
    position: fixed;
    /* float: right; */
    
    margin-left: 68%;
}

.contents {
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    margin-left: -3px;
    font-size: 2em;
    font-weight: 300;
}

.title {
    display: none;
}

.sidelist a {
    font-family: 'Roboto', sans-serif;
    /*font-size: 1.2em;*/
    /*font-weight: 300;*/
    /*padding: 0px;*/
    /*padding-bottom: 5px;*/
    
    border-bottom: none;
}

.sidelist li {
    font-size: 2em !important;
    font-weight: 100 !important;
    /*padding-bottom: 15px !important;*/
}
.sidelist_menu a {
    font-family: 'Roboto', sans-serif;
    /*font-size: 1.2em;*/
    /*font-weight: 300;*/
    /*padding: 0px;*/
    /*padding-bottom: 5px;*/
    
    border-bottom: none;
}

.sidelist_menu li {
    font-size: 1.5em !important;
    font-weight: 100 !important;
    /*padding-bottom: 15px !important;*/
}

.link {
    line-height: 30px;
}
/*.downloadLink {
    float: right;
    text-align: right;
}*/
/*.downloadLink a {
    line-height: 35px;
}*/

@media only screen and (min-width: 720px) and (max-width: 1024px) {
    .span_4_of_6 {
        width: 62.13%;
    }
}

@media only screen and (max-width: 720px) {
    .icon-list a,
    a:visited {
        font-size: 1.3em;
    }
    .title {
        display: block;
        position: fixed;
        top: -5%;
        right: 2%;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
    }
    .title h2 {
        color: #ccc;
        font-weight: 900;
    }
    .reference {
        margin-top: 60px;
        /* margin-left: 280px; */
        
        margin-left: 25px;
        padding-bottom: 50px;
    }
    .CodeMirror {
        width: 100%;
        position: inherit;
        margin-left: inherit;
        float: right;
    }
}

@media only screen and (min-width: 480px) and (max-width: 720px) {
    .span_4_of_6 {
        width: 92%;
    }
    .codeblock {
        position: inherit;
        margin-left: 0%;
    }
    .span_2_of_6 {
        width: 100%;
    }
    .col {
        /*margin: 0%;*/
    }
    .title {
        display: block;
        position: fixed;
        top: 20px;
        /*height: 100px;*/
        
        width: 35px;
        text-indent: -1000px;
        right: 22px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        background-image: url('/assets/images/logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 100;
    }
    .menu-button {
        margin: 10px;
    }
    .menu .misc_link {
        font-size: 1.3em !important;
    }
}

@media only screen and (max-width: 480px) {
    #wrapper {
        padding-top: 55px;
    }
    .section {
        padding: 15px;
        padding-top: 0px;
    }
    .CodeMirror {
        height: 100%;
        /*width: 118%;*/
        
        width: 100%;
        position: inherit;
        margin-left: -30px;
        /*overflow: scroll;*/
    }
    .menubar {
        display: none;
    }
    .menu .misc_link {
        font-size: 1.3em !important;
    }
    .reference {
        margin: 0;
    }
    .codeblock {
        position: inherit;
        margin: 0;
        margin-left: 15px;
        width: 92%;
    }
    .menu-button {
        margin: 0px;
    }
    .title {
        display: block;
        top: 5px;
        right: 10px;
        background-image: url('/assets/images/ketai_persp.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* height: 100px; */   
        width: 55px;
        text-indent: -1000px;
    }
}
