.reference{
	margin-top: 22px;
	margin-left: 230px;
	/*margin-left: 16.93%;*/
	/*padding-top: 20px;*/
}
.reference code{
	font-size: 1.5em;
	font-weight: normal;
	/*letter-spacing: -0.3px;*/
	background: rgb(208, 255, 209);
	/*color: #0F0F0F;*/
	/*padding: 5px 0px;*/
	word-wrap: break-word;
	margin-bottom: 20px;
}
.sidelist a{
	padding: 4px;
	margin-left: -4px;
}
.sidelist li{
	font-size: 2em !important;
	font-weight: 100 !important;
	padding-bottom: 13px !important;
}

