!=markdown(page.content)
for image in page.images
  if image.filename == 'screenshot_L.png'
    !=image.thumb({width: 800})
    if image.description
      .description
        !=markdown(image.description)
  if image.filename == 'screenshot_P.png'
    !=image.thumb({width: 480})
    if image.description
      .description
        !=markdown(image.description)
     
