ul.menu
  for child in page.children
    if isActive(child)
      li: a.current(href=child.url) #{child.title}
    else
      li: a(href=child.url) #{child.title}
  br
  br
  li: a(href="https://github.com/ketai/library") Github
  li: a(href="https://github.com/ketai/ketaiLibrary.org/issues") Forum
  li: a(href="https://twitter.com/ketailibrary") Twitter